/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color #930006;
@define-color destructive_fg_color #680003;
@define-color success_bg_color #60401d;
@define-color success_fg_color #ffdcb9;
@define-color warning_bg_color #f9f06b;
@define-color warning_fg_color #ce7688;
@define-color error_bg_color #930006;
@define-color error_fg_color #680003;
@define-color accent_color #ffb1c3;
@define-color destructive_color #ffb4a9;
@define-color success_color #ecbe91;
@define-color warning_color #e4bcc3;
@define-color error_color #ffb4a9;
@define-color window_bg_color #000000;
@define-color window_fg_color #ce7688;
@define-color view_bg_color #050505;
@define-color view_fg_color #ce7688;
@define-color headerbar_bg_color #000000;
@define-color headerbar_fg_color #ce7688;
@define-color headerbar_border_color #000000;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(236, 223, 224, 0.07);
@define-color headerbar_darker_shade_color RGB(0 0 12/90%);
@define-color sidebar_bg_color #2e2e32;
@define-color sidebar_fg_color white;
@define-color sidebar_backdrop_color #28282c;
@define-color sidebar_shade_color RGB(0 0 6/25%);
@define-color sidebar_border_color RGB(0 0 6/36%);
@define-color secondary_sidebar_bg_color #28282c;
@define-color secondary_sidebar_fg_color white;
@define-color secondary_sidebar_backdrop_color #252529;
@define-color secondary_sidebar_shade_color RGB(0 0 6/25%);
@define-color secondary_sidebar_border_color RGB(0 0 6/36%);
@define-color card_bg_color rgba(255, 177, 195, 0.05);
@define-color card_fg_color #ce7688;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #050505;
@define-color dialog_fg_color #ce7688;
@define-color popover_bg_color #050505;
@define-color popover_fg_color #ce7688;
@define-color popover_shade_color RGB(0 0 6/25%);
@define-color thumbnail_bg_color #39393d;
@define-color thumbnail_fg_color white;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(159, 140, 143, 0.5);
:root { --standalone-color-oklab: max(l, 0.85) a b; --accent-color: oklab(
    from var(--accent-bg-color) var(--standalone-color-oklab)
  ); --destructive-color: oklab(
    from var(--destructive-bg-color) var(--standalone-color-oklab)
  ); --success-color: oklab(
    from var(--success-bg-color) var(--standalone-color-oklab)
  ); --warning-color: oklab(
    from var(--warning-bg-color) var(--standalone-color-oklab)
  ); --error-color: oklab(
    from var(--error-bg-color) var(--standalone-color-oklab)
  ); --active-toggle-bg-color: rgb(255 255 255 / 20%); --active-toggle-fg-color: #ffffff; --overview-bg-color: #28282c; --overview-fg-color: #ffffff; }
@import 'libadwaita.css';
@import 'libadwaita-tweaks.css';
